* {
  font-family: "Poppins", serif;
}
body {
  overflow-x: hidden;
}

#backgroundSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: -1;
}
nav {
  width: 100%;
}

.carousel-inner img {
  object-fit: cover;
  height: 80vh;
}
.mobile {
  display: none;
}

.navbar {
  position: relative;
  z-index: 1;
}

.hero-section {
  height: 57vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

.hero-section h1 {
  font-size: 50px;
  text-align: left;
  margin-top: 200px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.hero-section h1 :after {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: white;
  right: 0;
  bottom: -5px;
  border-radius: 200px;
}
.nav-link {
  font-weight: 600 !important;
  
}
.nav-link:hover {
  color: #cc007c;
}
.nav-list-item{
  color: black !important;
  font-size: 13px !important;
}

.hero-section p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  text-align: left;
  padding-bottom: 14px;
}

.consult-form {
  margin-top: 205px;
  padding: 20px;
  border-radius: 10px;
}

.consult-form input,
.consult-form select,
.consult-form textarea {
  margin-bottom: 10px;
  width: 100%;
}

.btn-primary {
  background-image: linear-gradient(
    to right,
    #8335d6,
    #b00fb3,
    #c7008f,
    #cf006e,
    #cd2153
  ) !important;
  border: none !important;
  padding: 16px 20px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
}

.start {
  margin-bottom: 20px;
  padding: 16px 40px !important;
  border: 5px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-align: left;
  border: none !important;
  font-weight: 700 !important;
}
.custom-line {
  border: none;
  height: 2px;
  background-color: white;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.icon-box {
  padding: 30px 50px;
}

h5 {
  color: white;
  /* float: right; */
  font-size: 22px;
}

.img-fluid {
  width: 64px;
  height: 64px;
}

.chat-btn {
  display: inline-block;
  text-align: center;
  font-weight: 600 !important;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out !important;
  color: #fff;
  text-transform: initial;
  padding: 16px 60px !important;
  font-size: 16px !important;
  border-radius: 5px;
}
.chat-btn:hover {
  transform: translateY(-10px);
}
.no-btn {
  margin-right: 10px;
  border: 1px solid #cd1c58 !important;
  color: #cd1d57 !important;
  background: #fff !important;
  padding: 14px 60px !important;
  font-size: 16px !important;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out, color 0.4s ease-in-out,
    background-color 0.4s ease-in-out !important;
}
.no-btn:hover {
  transform: translateY(-10px);
}
.bouncy {
  cursor: pointer;
}
.bouncy:hover {
  animation-name: bouncy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/* .logo-design:hover {
  animation-name: bouncy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
} */
.brand {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #333;
}
.para {
  font-size: 18px;
  line-height: 1.4;
  padding-bottom: 0;
  font-weight: 400;
}
.toggle {
  background-color: #f2f3f8;
}

h2 {
  color: #333;
  line-height: 1;
  font-weight: 600;

  position: relative;
  letter-spacing: -1px;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 0 40px;
  margin: 0;
}

/* Default styles for nav-link */
.nav-pills .nav-link {
  padding: 10px 27px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  margin: 0 5px;
  background-color: #fff; /* Default background color */
  color: #333; /* Default text color */
  /* transition: background-color 0.3s ease, color 0.3s ease; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.swiper-pagination{
  display: none;
}
.swiper-button-prev{
  display: block;
}
/* Active button styles */
.logo.active {
  background: linear-gradient(
    90deg,
    #8335d6,
    #b00fb3,
    #c7008f,
    #cf006e,
    #cd2153
  ) !important;
  color: #fff;
  outline: none;
  transform: translateY(-10px);
}
.iti {
  position: relative;
  display: inline-block;
  width: 100% !important;
}
.iti__selected-dial-code {
  color: #666 !important;
}
.iti__country-list {
  color: #333;
  width: 420%;
  overflow-x: hidden;
}
.phone-number {
  border: none;
  outline: none;
}
/* Hover effect to improve interactivity */
.nav-pills .nav-link:hover {
  background: linear-gradient(
    90deg,
    #8335d6,
    #b00fb3,
    #c7008f,
    #cf006e,
    #cd2153
  );
  color: #fff;
  transform: translateY(-10px);
}

.btn-success {
  background-color: #33cc33;
  border-color: #33cc33;
  font-weight: bold;
}
ul {
  text-align: left;
  padding-left: 0;
  list-style-type: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.allitems {
  width: 100%;
  padding: 5px 0 5px 30px;
  color: #666;
  font-size: 14px;
  position: relative;
  margin: 0;
  text-align: left;
  display: inline-block;
  float: none;
}
.allitems1 {
  width: 100%;
  padding: 5px 0 5px 30px;
  color: #666;
  font-size: 14px;
  position: relative;
  margin: 0;
  text-align: left;
  display: inline-block;
  float: none;
}
.allitems2 {
  width: 100%;
  padding: 5px 0 5px 30px;
  color: #666;
  font-size: 14px;
  position: relative;
  margin: 0;
  text-align: left;
  display: inline-block;
  float: none;
}
.allitems::before {
  background-color: #fe5344;
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  margin: auto;
  width: 8px;
  display: table-cell;
  vertical-align: middle;
  height: 8px;
  border-radius: 50%;
}
.allitems1::before {
  background-color: #20cb98;
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  margin: auto;
  width: 8px;
  display: table-cell;
  vertical-align: middle;
  height: 8px;
  border-radius: 50%;
}
.allitems2::before {
  background-color: #488cfb;
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  margin: auto;
  width: 8px;
  display: table-cell;
  vertical-align: middle;
  height: 8px;
  border-radius: 50%;
}

.iti__country-list::-webkit-scrollbar{
  width: 8px !important;
}
.iti__country-list::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.476);
  border-radius: 0px !important;
}

ul::-webkit-scrollbar-track {
  background-color: transaprent;
  border-radius: 80px;
  
}
ul::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

ul::-webkit-scrollbar-thumb {
  
  background-color: rgba(128, 128, 128, 0.476);
  border-radius: 100px;
}

.new-lead-title {
  font-size: 35px;
  width: 80%;
}

.pkg-btn {
  transition: 0.4s all ease-in-out;
  transform: translateY(0);
}
.pkg-btn:hover {
  transform: translateY(-10px);
}
.pkg-card {
  width: 33% !important;
}

.wrap {
  position: relative;
  overflow: hidden;
}
.badge::before {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 10px;
  transform: rotate(45deg);
  height: 35px;
  width: 180px;
  position: absolute;
  border: 1px solid #b70000;
  overflow-y: hidden;
  right: -50px;
  top: 20px;
  text-align: center;
  content: "BEST SELLER";
  vertical-align: middle;
  background-color: red;
  box-shadow: 2px 1px 7px -1px #b70000;
}

@keyframes bouncy {
  0%,
  100%,
  50% {
    margin-top: 0px;
  }
  25%,
  75% {
    margin-top: 10px;
  }
}

.button-group {
  text-align: center;
  margin-bottom: 20px;
}

.tab-btn {
  background-color: #f45948;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.tab-btn.active {
  background-color: #323637; /* Change color for the active button */
}

.card {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.design {
  transition: 0.4s all ease-in-out;
  transform: translateY(0);
}
.design:hover {
  transform: translateY(-10px);
}

.btn-gradient {
  background-color: #b960c3;
  background-image: linear-gradient(
    to right,
    #8335d6,
    #b00fb3,
    #c7008f,
    #cf006e,
    #cd2153
  );
  border: #b960c3;
  display: inline-block;
  transform: translateY(0);
  color: #fff;
  padding: 14px 60px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.btn-gradient:hover {
  transform: translateY(-10px);
}

.slick-next:before,
.slick-prev:before {
  color: #9624c7 !important;
  font-size: 35px;
}
.slick-prev:before {
  content: "←";
}
.slick-next:before,
.slick-prev:before {
  -webkit-font-smoothing: antialiased;
}

.flist a:hover {
  color: #666;
}

.link-list {
  padding-bottom: 20px;
}

section.hero {
  margin-top: 5%;
  background: url("../images/about-us.jpg");
  text-align: center;
  padding: 100px 0;
}
.about-img {
  width: 70%;
}
.main-list .list-items {
  width: 46%;
}
section.hero h1 {
  font-size: 50px;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
}
section.hero p {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
  width: 60%;
  margin: auto;
  padding: 0 0 20px;
}

/* Mission Section */

section.mission img {
  width: 89%;
  margin-bottom: 1rem;
}
section.mission h2 {
  color: #333;
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 24px;
}
section.mission p {
  font-size: 18px;
  line-height: 22px;
  color: #666;
}

section.client {
  background: #b960c3;
  padding: 40px 0;
}

.faq-question {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.faq-answer p {
  padding: 20px;
  font-size: 16px;
  color: #333;
}

.icon {
  font-size: 22px;
  transition: transform 0.3s ease;
}

.faq-question.active .icon {
  transform: rotate(180deg); /* Changes + to x */
}

.faq-answer.open {
  padding: 20px;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 15px 0;
  width: 500px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu .dropdown-content {
  display: flex;
  padding: 0 10px;
}

.dropdown-menu .row {
  display: flex;
  width: 100%;
}

.dropdown-menu .col-6 {
  width: 50%;
  /* padding: 0 15px; */
}

.dropdown-item {
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
}

.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}

.field {
  width: 80%;
}

/* ABSTRCT-LOGO */
.abstract {
  height: 86vh;
}
.compo {
  height: 86vh;
  overflow-x: hidden;
}
.abstract::before {
  content: "";
  position: absolute;
  background: #0000003b;
  width: 100%;
  height: 82%;
}
.compo::before {
  content: "";
  position: absolute;
  background: #0000003b;
  width: 100%;
  height: 82%;
}
.banner-head {
  font-size: 50px !important;
  margin-top: 100px;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
  position: relative;
  float: left;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  letter-spacing: -2px;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.7);
}
.banner-head::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  right: 0;
  bottom: -5px;
  border-radius: 200px;
}
.content-cont {
  padding-bottom: 15px;
  font-size: 16px !important;
  color: #fff;
  line-height: 1.4;
  padding: 0 0 20px;
  font-weight: 400;
}
.banner-start {
  margin-bottom: 20px;
  background: #fff;
  background-image: linear-gradient(
    to right,
    #8335d6,
    #b00fb3,
    #c7008f,
    #cf006e,
    #cd2153
  );
  margin-bottom: 20px;
  padding: 16px 40px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  text-decoration: none !important;
}
.banner-start:hover {
  transform: translateY(-10px);
  color: white !important;
}
.banner-form {
  right: 0;
  top: -40px;
  width: 440px;
  max-width: 450px;
  margin-top: 150px;
  /* margin: auto; */
  position: relative;
}
.abstract-form {
  background: 0 0;
  width: 100%;
  border-radius: 4px;
}
.banner-form-head {
  font-size: 28px;
  color: #fff;
  margin-right: 2.5%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}
.field1 {
  margin-right: 2%;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
  display: inline-block;
}
.input {
  padding: 10px 15px;
  color: gray;
  font-size: 13px;
  border-radius: 5px;
  height: 40px;
  font-weight: 400;
  outline: 0 !important;
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
}
.textarea {
  border: 1px solid #33333347;
  background: #fff;
  resize: none;
  width: 80%;
  margin: 0;
  padding: 8px 12px;
  height: 100px;
  color: gray;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 400;
  outline: 0 !important;
  margin-bottom: 10px;
  overflow: auto;
}
.form-btn {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 2%;
}
.submit {
  border: none;
  background-image: linear-gradient(
    to right,
    #8335d6,
    #b00fb3,
    #c7008f,
    #cf006e,
    #cd2153
  );
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 60px;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 82%;
  line-height: 2;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.3s;

  /* background: #000; */
}

.abstract-counter {
  display: block;
  padding: 0;
}
.packslider {
  width: 100%;
  margin-bottom: -8px;
  display: inline-block;
  margin-top: 0;
}
.abstract-list::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 10%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: white;
  border-radius: 50%;
  width: 17px;
  height: 17px;

  background-color: #b960c3;
  font-family: icomoon !important;
}

.abstarct-head::after {
  width: 60px;
  height: 1px;
  left: -60px;
  bottom: -1px;
  background: #dbdbdb;
  position: absolute;
  content: "";
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;

  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  /* color: #03b5d2; */
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.web-list::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  content: "";
  border-radius: 50%;
  left: 0;
  top: 5px;
}

/* Packages CSS */
.package {
  background-image: url("../images/packages-bg.jpg");
  margin-top: 60px;
  width: 100%;
  height: 570px;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
}
.package::before {
  content: "";
  position: absolute;
  background: #0000003b;
  width: 100%;
  height: 530px;
}
.pkg-head {
  padding-top: 100px;
  font-size: 50px !important;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
  position: relative;
  float: left;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  letter-spacing: -2px;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.7);
}
.pkg-head::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  right: 0;
  bottom: -5px;
  border-radius: 200px;
}
.pkg-cont {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  padding-bottom: 40px;
  font-weight: 400;
}

.pkg-btn:hover {
  color: white;
  text-decoration: none;
}
.pkg-cl {
  margin-top: -50px;
  display: block;
}
.pkg-cl-list {
  z-index: 9;
  width: 100%;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* COMBO PACKAGES */
.combo {
  background-image: url("../images/combo-packages-bg.jpg");
  margin-top: 60px;
  width: 100%;
  height: 570px;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
}
.combo::before {
  content: "";
  position: absolute;
  background: #0000003b;
  width: 100%;
  height: 100%;
}
.com-head {
  padding-top: 150px;
  font-size: 50px !important;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 15px;
  position: relative;
  float: left;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  letter-spacing: -2px;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.7);
}
.com-head::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  right: 0;
  bottom: -5px;
  border-radius: 200px;
}
.com-cont {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  padding-bottom: 40px;
  font-weight: 400;
}

.com-btn:hover {
  color: white;
  text-decoration: none;
}
.combo-menu {
  background: #f6f7f9;
  padding: 60px 0;
  display: block;
}
.combo-list {
  width: 80%;
  margin: auto;
}
.whole-cont {
  margin-top: 30px;
  padding: 25px 40px;
  min-height: 612px;
  border: 1px solid #cc007c;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
}
.whole-cont::before {
  content: "BEST SELLER";
  /* vertical-align: middle; */
  text-indent: -15px;
  background-color: red;
  box-shadow: 2px 1px 7px -1px #b70000;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 50px;
  display: block;
  -ms-transform: rotate(45deg);
  /* -webkit-transform: rotate(45deg); */
  transform: rotate(45deg);
  height: 36px;
  width: 195px;
  position: absolute;
  border: 2px solid #b70000;
  right: -67px;
  top: 36px;
}
.combo-title {
  text-transform: uppercase;
  font-size: 15px;
  color: #cc007c;
  margin: 0;
  text-align: center;
}
.combo-main-title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  color: #2d2b25;
  margin: 15px auto 30px;
  text-align: center;
}
.combo-heading {
  font-size: 15px;
  font-weight: 700;
  color: #cc007c;
  padding: 5px 0;
  margin-top: 10px;
  position: relative;
  line-height: 22px;
  text-align: left;
  list-style: none;
  margin: 0;
  opacity: 1;
}
.combo-head-list {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  list-style: none;
  margin: 0;
  opacity: 1;
  padding-bottom: 6px;
  padding-left: 16px;
  color: #666;
}
.combo-head-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  margin: auto;
  width: 6px;
  display: table-cell;
  vertical-align: middle;
  height: 6px;
  border-radius: 50%;
  background-color: #cc007c;
}
.combo-price {
  float: left;
  text-align: left;

  padding-top: 20px;
}
.combo-pr {
  font-size: 42px;
  font-weight: 700;
  color: #cc007c;
  margin: 0 0 20px;
  display: inline-block;
  line-height: 36px;
}
small {
  vertical-align: baseline;
  margin-left: 1px;
  font-size: 20px;
  font-weight: 400;
}

.old {
  text-decoration: line-through;
  font-size: 16px;
  margin-left: 10px;
}
.old-price {
  font-size: 80%;
}
.buy {
  text-align: right;
  width: 49%;
  float: right;
  padding-top: 20px;
  cursor: pointer;
}
.buy-btn {
  background: #b960c3;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  padding: 14px 50px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5;
  text-decoration: none;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}
.buy-btn:hover {
  color: white;
  text-decoration: none;
  transform: translateY(-10px);
}

/* Show Case CSS */

.showcase {
  background-image: url("../images/showcase-bg.jpg");
  margin-top: 60px;
  width: 100%;
  height: 570px;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
}
.showcase::before {
  content: "";
  position: absolute;
  background: #0000003b;
  width: 100%;
  height: 100%;
}

.testimonial {
  padding: 60px 0;
  background-color: #f5f6f8;
}
.testimonial-head {
  font-size: 45px;
}
.swiper-container {
  position: relative;
}
.swiper-slide {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8; /* Add background for visual clarity */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* White color for arrows */
  /* Semi-transparent black background */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Overlay on slides */
}
.swiper-button-next {
  right: 10px;
}
.swiper-button-prev {
  left: 10px;
}

/* GET A QUOTE CSS */

.square {
  font-size: 25px;
  line-height: 1;
}
.head-icon {
  color: #000;
}
.head-icon:hover {
  text-decoration: none;
  color: #000;
}
.quote-banner {
  background: #f7f9fc;
  width: 100%;
  height: 90vh;
  padding-top: 150px;
}
.quote-head {
  font-size: 36px;
  color: #333;
  text-shadow: none;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
  letter-spacing: -2px;
  line-height: 1.1;
}
.quote-subtitle {
  color: #333;
  font-size: 18px;
  line-height: 1.3;
  padding-top: 10px;
  font-weight: 400;
  padding: 0 0 20px;
}
.quote-field {
  margin-right: 2%;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
  display: inline-block;
}
.quote-input {
  width: 100%;
  margin: 0;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 15px;
  color: gray;
  font-size: 13px;
  border-radius: 5px;
  height: 40px;
  font-weight: 400;
  outline: 0 !important;
}
.phone-input {
  width: 95%;
  margin: 0;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 15px;
  color: gray;
  font-size: 13px;
  border-radius: 5px;
  height: 40px;
  font-weight: 400;
  outline: 0 !important;
}
.quote-field1 {
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
  display: inline-block;
  overflow: hidden;
}

.quote-select {
  width: 100%;
  margin: 0;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 10px 15px;
  color: gray;
  font-size: 13px;
  border-radius: 5px;
  height: 40px;
  font-weight: 400;
  outline: 0 !important;
}
.quote-submit {
  border: none;
  background-image: linear-gradient(
    to right,
    #8335d6,
    #b00fb3,
    #c7008f,
    #cf006e,
    #cd2153
  );
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 60px;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 100%;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  line-height: 2;
}
.help-button {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  background-color: #2187b6 !important;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: #0a171d !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 999;
}
.help-button i {
  margin-right: 5px;
}
.modal-content {
  z-index: 10000; 
}

/* Custom Modal Styling */
.custom-modal-content {
  background-color: transparent !important; 
  border-radius: 10px; 
  border: none !important;
}

.custom-modal-header {
  background-color: none !important; 
  border-bottom: none !important;
  position: relative;
  padding: 10px 20px;
  color: white; 
}

.custom-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white; 
  font-size: 30px;
  background: transparent; 
  border: none; 
}

.custom-fullscreen-btn {
  position: absolute;
  top: 10px !important;
  right: 10px !important;
  color: white; 
  background: transparent; 
  border: none; 
}

.custom-modal-body {
  background-color: transparent !important; 
}

.custom-modal-img {
  max-width: 100%;
  /* max-height: 80vh;  */
  object-fit: contain;
}


.modal-header {
  padding: 0.571429rem 1rem;
  background: rgb(33, 135, 182) !important;
  color: rgb(10, 23, 29) !important;
  display: flex;
  align-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  min-height: 2rem;
}
.modal-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.0214286rem;
  line-height: 1.5;
  font-size: 1.07143rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-bottom: 2px;
  margin-left: 4rem;
  color: #000;
}
.modal-right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 60%;
  right: 5px;
  top: 450px;
  bottom: 70px;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-out;
}
.help-label {
  vertical-align: middle;
  line-height: 1.42857;
  color: rgb(47, 57, 65);
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 0.428571rem;
  word-break: break-word;
  line-height: 1.42857 !important;
}
.help-input {
  appearance: none;
  transition: border-color 0.25s ease-in-out, box-shadow 0.1s ease-in-out,
    background-color 0.25s ease-in-out, color 0.25s ease-in-out,
    z-index 0.25s ease-in-out;
  border: 1px solid rgb(216, 220, 222);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: inherit;
  padding: 0.714286em 0.857143em;
  min-height: 40px;
  line-height: 1.28571;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(47, 57, 65);
  cursor: auto;
  margin-top: 8px;
}

.modal-right .modal-content {
  height: 100%;
  overflow-y: auto;
}
.modal-right.show .modal-dialog {
  transform: translate3d(0, 0, 0);
}
.custom-file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.custom-file-label {
  display: flex;
  align-items: center;
  border: 1px dashed #ced4da;
  padding: 10px;
  width: 85%;
  height: 60px;
  cursor: pointer;
  justify-content: center;
  margin-top: 360px;
  margin-left: 20px;
}
.custom-file-label::before {
  content: "\f0c6"; /* Font Awesome paperclip icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 20px;
}
.custom-file-label span {
  font-size: 14px;
  color: #6c757d;
}
.count {
  margin-top: 130px;
}
.abstract-cont {
  width: 60%;
}
.abstract-textarea {
  width: 80%;
}
.abstract-btn {
  width: 80%;
}
.slider-head {
  font-size: 35px;
}
.testimonial-head {
  font-size: 22px;
}
.testimonial-para {
  font-size: 14px;
}
.home-text {
  width: 80%;
}

.about-head {
  text-align: left;
  font-size: 35px !important;
}

section {
  padding: 40px 0;
}
.abstract-nav {
  width: 100%;
}
textarea {
  width: 80%;
}
.abstract.emblem {
  overflow-x: hidden;
}
.emblem-head {
  font-size: 34px;
}
.slider-wrapper {
  margin: 20px 70px 55px;
}
.emblem-btn {
  width: 80%;
}
.moscot {
  height: 86vh;
  overflow-x: hidden;
}
.moscot::before {
  content: "";
  position: absolute;
  background: #0000003b;
  width: 100%;
  height: 100%;
}
.com-cl {
  margin-top: -175px;
}
.head-quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-unstyled {
  display: inline-flex;
}
.lft {
  width: 25%;
  float: left;
}
.ryt {
  width: 65%;
  float: right;
  padding: 10px 30px;
}
.lft img {
  margin: 0 auto;
  display: block;
  width: 60px;
}
.ryt h5 {
  padding: 0 10px;
}
.ryt p {
  padding: 0 10px;
  width: 90%;
}
.lft:hover {
  animation-name: bouncy;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.list-row {
  width: 33%;
}

.link-list,
.contact-info,
.social-links,
.footer-bottom-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.link-list li,
.social-links li,
.contact-info li {
  margin-right: 15px;
  margin-bottom: 20px;
}

.footer-botttom {
  background: #222328;
  padding: 10px 0;
}

.footer-copyright {
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 10px 0;
  font-weight: 400;
  line-height: 22px;
}

.footer-bottom-links li {
  margin-right: 15px;
}
.flag-desc{
  padding-left: 10px;
  
}
.startup{
  padding-top: 15%;
  padding-bottom: 100px;
  display: block;
}
.start-head{
  font-size: 52px;
  color: #222;
  padding-bottom: 30px;
  position: relative;
}
.start-head::after{
  content: "";
  position: absolute;
  width: 140px;
  height: 4px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #8335d6, #b00fb3, #c7008f, #cf006e, #cd2153);
}
.start-para{
  font-size: 18px;
  padding: 30px 0 0;
  color: #666;
}
.start-main{
  border: 1px solid #cf006f;
  text-align: center;
  height: 505px;
  border-radius: 3px;
  padding: 75px 40px;
  width: 100%;
  position: relative;
}
.main-head{
  font-size: 32px;
  font-weight: 600;
  color: #222;
  padding-bottom: 10px;
}
.price-wrap{
  font-size: 28px;
  color: #9923c5;
  font-weight: 600;
}
.cont-start{
  font-size: 18px;
  padding: 13px 0;
  font-weight: 400;
    line-height: 22px;
    color: #666;
}
.start-btn{
  padding: 20px 0 70px;
}
.place-start{
  display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 17px 23px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #8335d6, #b00fb3, #c7008f, #cf006e, #cd2153);
    text-decoration: none;
}
.place-start:hover{
  color: white;
  text-decoration: none;
}
.fa-wechat::before{
  content: "\f1d7";
}
.start-chat::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  left: 0;
  bottom: 100px;
}
.left-strat-head{
  text-align: left;
    font-size: 34px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #222;
    display: inline-block;
}
.ul-start{
  max-height: 430px;
  padding-left: 0rem !important;
  margin-top: 20px;
  overflow-y:auto ;
  padding-right: 15px
}
.list-start{
  text-align: left;
    padding: 14px 10px;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    font-size: 18px;
    position: relative;
    color: #666;
}
.list-start::after{
  right: 0;
    content: "\f00c";
    font-family: fontawesome;
    color: #ce185b;
    position: absolute;
    top: 20px;
    font-size: 22px;
}
































































@media screen and (max-width: 768px) {
  .dropdown-menu {
    width: 100%;
    left: 0;
    transform: none;
  }

  .dropdown-menu .dropdown-content {
    flex-direction: column;
    padding: 0;
  }

  .dropdown-menu .col-6 {
    width: 100%;
    padding: 0;
  }
  section {
    padding: 15px 0;
  }

  /* Stack the text and image vertically on smaller screens */
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-lg-6 img {
    /* width: 100%; */
    height: auto;
  }

  h2 {
    font-size: 32px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  h2 {
    font-size: 28px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  section.hero h1 {
    font-size: 36px;
  }
  section.hero p {
    width: 80%;
  }
  section.mission img {
    width: 100%;
  }
  section.mission h2 {
    font-size: 20px;
  }

  section.hero h1 {
    font-size: 28px;
  }
  section.hero p {
    font-size: 14px;
    width: 90%;
  }
  section.mission h2 {
    font-size: 18px;
  }
  nav .navbar-nav .nav-link {
    font-size: 12px;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  ul li {
    /* width: 70%; */
    margin: 5px 0;
  }

  ul li h3 {
    font-size: 24px;
  }

  ul li p {
    font-size: 14px;
  }

  ul li img {
    width: 100%;
  }
  .tab-content {
    display: flex;
    justify-content: center;
  }
  .tab-content .tab-pane img {
    padding-bottom: 10px;
    width: 100%;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  ul li h3 {
    font-size: 20px;
  }

  ul li p {
    font-size: 12px;
  }

  ul li img {
    width: 20%;
  }

  .txt-container,
  .form-container {
    padding-left: 0;
  }

  .container {
    width: 100%;
  }
  .txt-container {
    text-align: justify;
  }

  .txt h2 {
    font-size: 24px;
  }

  .txt p {
    font-size: 16px;
  }

  .row {
    display: block;
  }

  .col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
  }
}
.quote-button{
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 700 !important;
    text-transform: capitalize !important;
    background: #b960c3;
    border-radius: 4px;
    padding: 16px 20px !important;
    background-image: linear-gradient(to right, #8335d6, #b00fb3, #c7008f, #cf006e, #cd2153);
}



@media (max-width: 768px) {
  .txt-container,
  .form-container {
    padding-left: 0;
  }

  /* Container width becomes 100% for mobile screens */
  .container {
    width: 100%;
  }

  .txt-container {
    text-align: center;
  }

  .txt h2 {
    font-size: 24px;
  }

  .txt p {
    font-size: 16px;
  }

  .row {
    display: block;
  }

  .col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.fade{

}

/* Base navbar styles */
#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

#navbar.black {
  background: rgba(0, 0, 0, 0.8);
  height: 80px;
  padding: 10px 50px;
}

#navbar .navbar-brand img {
  height: 80px;
  transition: 0.3s;
}

#navbar.black .navbar-brand img {
  height: 60px;
}

#navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 80px;
  padding: 5px 20px;
}

#navbar.black .navbar-nav .nav-link {
  color: #fff;
  line-height: 60px;
}

/* Scroll animation for logo */
#navbar .navbar-brand img {
  transition: height 0.3s ease-in-out;
}

/* Sections to make scroll effect visible */
section.sec1,
section.sec2 {
  width: 100%;
  height: 100vh;
  background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}

/* Responsiveness */
@media (max-width: 768px) {
  #navbar {
    padding: 0;
  }
  #navbar.black {
    background: #262626;
  }
  .navbar-toggler {
    display: block;
  }

  .hero-head {
    width: 100%;
  }
  .hero-head h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
  }
  .abstract::before {
    height: 100%;
  }

  #backgroundSlider {
    height: 180vh;
  }

  .carousel-inner img {
    height: 150vh;
  }

  .consult-form {
    margin-top: 0px;
  }

  .hero-desc {
    font-size: 16px;
  }

  .num {
    margin-top: 310px;
    text-align: center;
    width: 100%;
  }
  .about-img {
    margin-top: 40px;
  }
  .main {
    flex-direction: column;
  }
  .col-md-2 {
    margin-bottom: 15px;
  }
  .para {
    width: 100%;
  }
  .bouncy {
    margin-bottom: 15px;
  }
  .bouncy img {
    width: 10%;
  }
  .brand {
    font-size: 20px;
  }
  .no-btn {
    display: block !important;
  }
  .toggle-head h2 {
    font-size: 50px !important;
  }
  .nav-link {
    width: 100%;
    margin: 0;
  }
  .field {
    width: 100% !important;
  }
  .about-img {
    width: 100%;
  }
  .main-list .list-items {
    width: 100%;
  }
  .package::before {
    height: 93%;
  }
  .pkg-cl {
    display: none;
  }
  .new-lead-title {
    font-size: 30px;
    width: 100%;
  }
  .testimonial-head {
    font-size: 25px;
  }
  .pkg-card {
    width: 100% !important;
  }
  .responsive-item {
    width: 100% !important;
    float: none;
    border: 1px solid #bbbecc;
    border-radius: 0px;
  }
  .responsive-item img {
    width: 17px;
  }
  .hero-section h1 {
    margin-top: 520px;
  }
  .count {
    margin-top: 180px;
  }
  .abstract-cont {
    width: 100%;
  }
  .banner-head {
    margin-top: 70px;
  }

  .banner-form {
    top: 0;
    margin: 10px 0;
  }
  .ab-cl {
    display: none;
  }
  .abstract {
    height: 160vh;
  }
  .abstract::before {
    height: 158vh;
  }
  .textarea {
    width: 80% !important;
  }
  .abstract-counter {
    display: none;
  }
  .abstract-textarea {
    width: 100%;
  }
  .abstract-btn {
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    text-align: center;
    width: 100%;
    border-top: 1px solid #ccc; /* Optional: adds separation between items */
  }

  .nav-link {
    padding: 12px 0; /* Space out the links */
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: center;
  }

  /* Dropdown items on mobile */
  .dropdown-menu {
    position: relative;
    width: 100%;
  }

  .dropdown-item {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
  }

  .navbar-toggler {
    margin-right: 20px;
  }

  .navbar-brand img {
    width: 150px;
  }

  .chat-button {
    display: block !important;
    margin-bottom: 20px !important;
  }
  .slider-head {
    font-size: 25px;
    padding-bottom: 20px !important;
    line-height: 35px !important;
    width: 80% !important;
  }

  .col-lg-8 {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    font-size: 22px;
    padding: 0 10px;
  }

  p {
    font-size: 16px;
    padding: 30px 10px 30px 0;

    text-align: left;
  }
  .list-unstyled {
    padding-left: 0;
    margin-left: 0;
    display: block;
  }

  .list-unstyled li {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .main {
    display: block;
    padding: 10px 0;
  }

  .col-2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .col-2 img {
    max-width: 50%;
    height: auto;
  }

  .col-md-11,
  .col-10 {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }

  .para {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  h5.brand {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .testimonial-head {
    font-size: 18px;
  }
  .testimonial-para {
    font-size: 12px;
  }
  .home-para {
    font-size: 13px;
  }
  .txt {
    text-align: justify !important;
  }
  .home-text {
    width: 100% !important;
  }

  .client {
    display: none;
  }
  .mission {
    text-align: left !important;
  }
  .about-head {
    text-align: left;
    font-size: 25px !important;
  }
  .about-para {
    text-align: left;
  }

  .about-button {
    width: 100%;
    margin-bottom: 10px;
  }
  .banner-head {
    font-size: 32px !important;
    border: none;
  }
  .banner-head::after {
    display: none;
  }
  .banner-cont {
    width: 100%;
  }
  .abstract-form {
    width: 80%;
  }
  .banner-form-head {
    font-size: 20px;
  }
  .compo-nav {
    width: 100%;
  }
  .compo {
    height: 155vh !important;
  }
  .compo::before {
    height: 153vh;
  }
  .com-cl {
    display: none;
  }
  .chat-btn {
    margin-bottom: 10px;
    width: 100%;
  }
  .no-btn {
    margin-bottom: 10px;
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  .emblem-head {
    font-size: 24px;
  }
  .slider-wrapper {
    margin: 20px 45px 55px;
  }
  .emblem-btn {
    width: 100%;
  }
  .moscot {
    height: 175vh;
  }
  .moscot-cl {
    display: none;
  }
  .pkg-head {
    padding: 25px 15px;
    font-size: 40px;
    border: none;
    line-height: 55px;
  }
  .pkg-head::after {
    display: none;
  }
  .pkg-cont {
    padding-left: 15px;
  }
  .package {
    height: 635px;
  }
  .pkg-btn {
    margin-left: 15px;
  }
  .combo-list {
    width: 100%;
    margin: auto;
  }
  .buy {
    text-align: center;
    width: 100%;
    float: left;
    padding-top: 20px;
    cursor: pointer;
  }
  .quote-banner {
    font-size: 30px;
    padding-top: 10px;
    text-align: left;
  }
  .quote-field1 {
    margin: 0;
  }
  .form-head {
    font-size: 20px;
  }
  .hero-section {
    height: 60vh;
  }
  .count {
    display: none;
  }
  .home-about {
    margin-top: 555px !important;
  }
  .list-row {
    width: 100%;
  }

  .lft {
    width: 50%;

    margin-top: 60px !important;
  }
  .ryt {
    width: 50%;
    float: right;
    padding: 10px 30px;
  }
  .lft img {
    margin: 0 auto;
    display: block;
    width: 60px;
  }
  .ryt h5 {
    padding: 0 10px;
  }
  .ryt p {
    padding: 0 10px;
    width: 90%;
  }
  .lft:hover {
    animation-name: bouncy;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  .modal-right .modal-dialog {
    width: 300px;
    height: 400px;
    top: 330px;
    right: 0;
  }
  .modal-title {
    margin-left: 0rem;
  }

  .footer-logo {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .footer-images {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .footer-links {
    text-align: center;
  }

  .link-list {
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .contact-info,
  .social-links {
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-botttom {
    padding: 20px 0;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer-bottom-links {
    justify-content: center;
  }

  .footer-bottom-links li {
    margin: 0 10px;
  }
  .link-list li,
  .social-links li,
  .contact-info li {
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  .large {
    display: none;
  }
  .number {
    display: none;
  }
  .quote-button {
    display: none !important;
  }
  .mobile{
    display: block;
  }
  .serv{
    padding:10px 30px;
    width: 50%;
    
  }
  .home-padding{
    margin-top: 150px;
  }
  .flag-sec{
    display: none;
  }
  .swiper-pagination{
    display: block;
  }
  .swiper-button-prev{
    display: none;
  }
  .swiper-button-next{
    display: none;
  }
  
  
}
